<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">

  <div class="flex flex-wrap space-y-6 mb-4">

    <div class="w-full md:w-3/5 flex flex-col space-y-4 md:pr-8 lg:pr-10">

      <a class="flex items-center group" href="{{ absLangURL "" }}">
        <span class="text-2xl font-semibold">{{ .Site.Title }}</span>
      </a>

      <p class="">
        By the way, you can find more at <a class="hover:underline decoration-auto font-bold" href="https://vdtlv.me/" target="_blank" rel="noopener">vdtlv.me</a><br>
        Or contact me with 
        <a class="hover:underline decoration-auto font-bold" href="mailto:contact@vdtlv.me" target="_blank" rel="noopener">e-mail</a>, 
        via <a class="hover:underline decoration-auto font-bold" href="https://www.linkedin.com/in/vdtlv/" target="_blank" rel="noopener">linkedin</a> or <a class="hover:underline decoration-auto font-bold" href="https://www.t.me/vdtlv/" target="_blank" rel="noopener">telegram</a>
      </p>
      <p>
        </p>
    </div>

    <div class="self-center flex flex-col w-full md:w-2/5">

<!--{{ partial "content/social-media.html" . }}-->

    </div>
    
  </div>

  <!--<div class="my-8">
    <ul class="flex items-center space-x-4">
      {{ range .Site.Menus.main }}
        <li><a class="decoration-auto hover:underline font-semibold" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>-->

  <div class="border-t pt-4">

    <p class="text-blue-600 text-sm">{{ now.Year }} Huge thanks to my parents, Ingvar Kamprad, <a class="hover:underline" href="https://karasevm.ru/" target="_blank" rel="noopener">Maksim Karasev</a> and some youtube guys.</p>

  </div>
  
</div>
